<h1>Admin Categories</h1>

<%= form_with model: @category, url: admin_categories_path, local: true do |form| %>
  <div>
    <%= form.label :name, "Nombre de la Categoría" %>
    <%= form.text_field :name, placeholder: "Introduce el nombre" %>
  </div>

  <!-- Anidar los campos del enlace dentro del formulario de categoría -->
  <%= form.fields_for :links do |link_form| %>
    <div>
      <%= link_form.label :url, "URL del Enlace" %>
      <%= link_form.text_field :url, placeholder: "Introduce el URL" %>
    </div>
    <div>
      <%= link_form.label :description, "Descripción del Enlace" %>
      <%= link_form.text_field :description, placeholder: "Introduce la descripción" %>
    </div>
  <% end %>

  <br />
  <%= form.submit "Crear Categoría" %>
<% end %>

<h2>Lista de Categorías</h2>
<ul>
  <% @categories.each do |category| %>
    <li>
      <strong><%= category.name %></strong>
      <% if category.links.any? %>
        <ul>
          <% category.links.each do |link| %>
            <li><%= link.url %> - <%= link.description %></li>
          <% end %>
        </ul>
      <% else %>
        <span>No hay links asociados.</span>
      <% end %>
      <%= button_to 'Eliminar Categoría', admin_category_path(category), method: :delete  %>
    </li>
  <% end %>
</ul>

