

<h1>Admin Categories</h1>

<form action="<%= admin_categories_path %>" method="post">
  <div>
    <label for="name">Nombre de la Categoría</label>
    <input type="text" name="category[name]" id="name" placeholder="Introduce el nombre">
  </div>
  
   <div>
    <label for="link_id">Seleccionar Link</label>
    <select name="link_id" id="link_id">
      <option value="">Selecciona un link</option>
      <% @links.each do |link| %>
        <option value="<%= link.id %>"><%= link.url %> - <%= link.description %></option>
      <% end %>
    </select>
  </div>
  
  <div>
    <label for="link_description">Descripción</label>
    <input type="text" name="link_description" id="link_description" placeholder="Introduce la descripción">
  </div>
  
  <br />
  <input type="submit" value="Crear Categoría">
</form>

<h2>Lista de Categorías</h2>
<ul>
  <% @categories.each do |category| %>
    <li>
      <strong><%= category.name %></strong>
      <% if category.links.any? %>
        <ul>
          <% category.links.each do |link| %>
            <li><%= link.url %> - <%= link.description %></li>
          <% end %>
        </ul>
      <% else %>
        <span>No hay links asociados.</span>
      <% end %>
      <%= button_to 'Eliminar Categoría', admin_category_path(category), method: :delete  %>
    </li>
  <% end %>
</ul>

